[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
coverage = "*"
flake8 = "*"

[packages]
dash = "*"
dash-bootstrap-components = "*"
pandas = "*"
jupyter = "*"
matplotlib = "*"
pylint = "*"
seaborn = "*"
tqdm = "*"
grid2op = "*"
numba = "*"
dash-antd-components = {index = "https://test.pypi.org/simple/",version = "==0.0.1rc1"}
grid2kpi = {index = "https://test.pypi.org/simple/",version = "==0.1.0rc3"}

[requires]
python_version = "3.7"
