[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
coverage = "*"
flake8 = "*"

[packages]
dash = "*"
dash-bootstrap-components = "*"
pandas = "*"
jupyter = "*"
matplotlib = "*"
pylint = "*"
seaborn = "*"
dash-antd-components = {path = "./dash_antd_components-0.0.1.tar.gz"}
tqdm = "*"
grid2op = "*"
numba = "*"

[requires]
python_version = "3.7"
