click == 7.1.2
colorama == 0.4.4
dash == 1.17.0
dash-bootstrap-components == 0.10.7
dash-antd-components == 0.0.1-rc.2
dill == 0.3.3
Grid2Op == 1.5.1
imageio == 2.9.0
jupyter-dash == 0.3.1
pathos == 0.2.7
pandapower == 2.4.0
matplotlib == 3.3.3
numpy == 1.19.3
seaborn == 0.11.0
nbgitpuller == 0.9.0
jupyter-server-proxy == 1.5.0
