.hidden {
    display: none;
}

body {
    background-color: #f7f7f7;
}

.graphCard {
    margin: 5px;
}

.graphCard > * {
    display: inline-flex;
}

.lineBlock {
    margin: 1.5rem!important;
    padding-top: 5px;
    border-top: #0FA0CE solid 10px;
    display: flex!important;
    flex-direction: row!important;

}

.lineBlock > * {
    display: inline-flex;
}

.lineBlock > h2 {
    padding: 5px;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    border-left: #0FA0CE solid 2px;
}
